@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$primary-text: "Roboto", sans-serif;
$primary-color: #2d4059;
$secondary-color: #ea5455;
$third-color: #decdc3;
$fourth-color: #e5e5e5;
